@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Khaos";
    src: url("./assets/font/Khaos.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "Khaos", sans-serif;
    color: white;
    background-color: black;
  }
  